body{
    background-color: rgb(110, 93, 131);
    color: black;
}

h1 {
    text-align: center;
    font-size: 3rem;
    margin-top: 20px;
}

p {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 10px;
}

.correct {
  background-color: #6aaa64 !important; /* green */
  color: white;
}
.present {
  background-color: #c9b458 !important; /* yellow */
  color: white;
}
.absent {
  background-color: #787c7e !important; /* grey */
  color: white;
}
